* { box-sizing: border-box; }

body{
  margin: 0px;
  width: 100%;
}

ul {
  background-color: skyblue;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 100%;
}

h1,h2,button{
  margin: 0px;
  padding: 0px;
}

h1,h2{
  color: white;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > ul {
  background-color: rgb(121, 185, 211);
  list-style: none;
  padding: 0;
  position: absolute;
}

nav > ul > li:hover{
  background-color: rgb(121, 185, 211);
}

nav > ul > li > ul > li:hover{
  background-color: rgb(185, 211, 121)
}

nav > ul > li > ul{
  display: none;
}

nav > ul > li:hover > ul{
  display: block;
}

.Divide{
  padding-left: 1300px;
}

.LargeImage{
  background-image: url("LargeImage.jpg");
  height: 887px;
  width: 1899px;
}

.Slogan{
  text-align: center;
  padding: 200px 500px;
}

.fa{
  display: inline-block;
  width: 36px;
  height: 36px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa-button{
  background-color: rgb(59, 89, 152);
}

.fa-button:hover{
  background-color: rgb(49,129,71);
}

.tab {
  width: 200px;
  border-radius: 5px;
}

.LargeImage > .Slogan > span > a{
  padding: 0px;
  color: rgb(27,248,248);
}
